.page-bg {
  border-bottom: 12px solid transparent;
  -o-border-image: linear-gradient(90deg, #005754 0%, #E4F8F8 100%);
  border-image: linear-gradient(90deg, #005754 0%, #E4F8F8 100%);
  border-image-slice: 1;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.74) 0%, rgba(255, 255, 255, 0) 100%);
}

@media screen and (max-width: 767px) {
  .page-bg {
    border-bottom: 6px solid transparent;
  }
}

.page-template-about-bg{
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
}

.page-template-about-bg {
  background-image: url(../img/about-us/about-us-page-bg.png);
}

@media screen and (max-width: 1200px) {
  .page-template-about-bg {
    background-image: url(../img/about-us/m-about-us-page-bg.png);
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.h_xl_250 {
  height: 250px !important;
}

.object-fit-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.h_sm_204 {
  height: 204px !important;
}

.max_xl_w_498 {
  max-width: 498px !important;
}

.sm_text_32 {
  font-size: 32px !important;
}

.sm_line_height_38 {
  line-height: 38px !important;
}

.line_height_48 {
  line-height: 48px !important;
}

.min_xl_h_1172 {
  min-height: 1172px !important;
}

.min_sm_h_1469 {
  min-height: 1469px !important;
}

.max_xl_w_1280 {
  max-width: 1280px !important;
}

.color_white,
.color_white--imp {
  color: #ffffff;
}

.sm_line_height_48 {
  line-height: 48px !important;
}

.sm_text_40 {
  font-size: 40px !important;
}

.color_white--imp {
  color: #ffffff !important;
}

.font_alt_1 {
  font-family: "FormaDJRDeckMedium";
}

.subpage-hero-text {
  top: 17%;
}

@media screen and (min-width: 992px) {
  .subpage-hero-text {
    left: 15%;
  }
}

@media screen and (min-width: 1024px) {
  .subpage-hero-text {
    left: 5%;
  }
}

@media only screen and (min-width: 834px) and (orientation: landscape) {
  .subpage-hero-text {
    left: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .subpage-hero-text {
    top: 26%;
    left: 12%;
  }
}

@media screen and (min-width: 1536px) {
  .subpage-hero-text {
    left: 15%;
  }
}

@media screen and (min-width: 1680px) {
  .subpage-hero-text {
    left: 18%;
  }
}

@media screen and (min-width: 1920px) {
  .subpage-hero-text {
    left: 22%;
  }
}

@media screen and (min-width: 256subpage-hero-text0px) {
  .subpage-hero-text {
    left: 29%;
  }
}

@media screen and (max-width: 767px) {
  .subpage-hero-text {
    top: 13%;
  }
}