@import url("footer.css");
@import url("icons.css");
@import url("header.css");
@import url("homepage.css");
@import url("schools.css");
@import url("department.css");
@import url("child-theme.css");


p:empty {
    display: none;
}

/* Visitor Section */
.visitor-hero {
    background: #f5f7fa;
    padding: 40px 20px;
}

.visitor-container {
    max-width: 1100px;
    margin: 0 auto;
}

.visitor-card {
    display: flex;
    align-items: center;
    gap: 40px;
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.visitor-image img {
    width: 350px;
    height: 280px;
    border-radius: 10px;
    object-fit: cover;
}


.visitor-designation {
    font-weight: 600;
}

.visitor-role {
    font-size: 16px;
    color: #777;
}

/* Responsive */
@media (max-width: 768px) {
    .visitor-card {
        flex-direction: column;
        text-align: center;
    }

    .visitor-content h2 {
        font-size: 25px;
    }

    .visitor-image img {
        width: 240px;
    }
}

/* accrediation template css */

.accreditation-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 8px;
    color: #002855;
}

.accreditation-subtitle {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

.accreditation-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.accreditation-card {
    background: #ffffff;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.accreditation-logo img {
    max-width: auto;
    height: 100px;
    margin-bottom: 20px;
}

.accreditation-name {
    font-size: 24px;
    margin-bottom: 6px;
}

.accreditation-desc {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.accreditation-details {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.accreditation-details li {
    font-size: 15px;
    margin-bottom: 6px;
}

.accreditation-links a {
    display: inline-block;
    margin: 6px 10px;
    color: #00509e;
    font-weight: 600;
    text-decoration: none;
}

.accreditation-links a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    .accreditation-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1500px !important;
    }
}

/* Remove browser default padding */
ol,
ul {
    margin-left: 0 !important;
}

/* Objective list only */
ol,
ul {
    padding-left: 2.5rem !important;
}

@media screen and (max-width: 760px) {

    ol,
    ul {
        padding-left: 0.5rem !important;
    }

}